@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FAFAFA;
}


.article-content section h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-block: 8px;
}

.article-content section h2 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-block: 8px;
}

.article-content section h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-block: 8px;
}

.article-content section h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-block: 8px;
}

.article-content section h5 {
    margin-block: 8px;
    font-size: 14px;
}

.article-content section h6 {
    margin-block: 8px;
    font-size: 14px;
}

.article-content section p {
    margin-bottom: 12px;
    font-size: 14px;
}

.article-content section ol {
    margin-left: 30px;
}

.article-content section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 14px;
    margin-top: 14px;
}

.article-content section table th,
.article-content section table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.article-content section table th {
    background-color: #f2f2f2;
}

.article-content section table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.article-content section a {
    color: rgb(0, 68, 255);
    text-decoration: underline;
}